.KontaktFormular{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Navn, .Email, .Område{
    font-family: 'Nunino Sans', sans-serif;
    font-weight: 600;
}

.Navn{
    width: 300px;
    height: 50px;
    border: 2px solid #1B2A49;
    border-radius: 3px;
    position: relative;
    right: 200px; 
    bottom: 600px;
}

.Email{
    width: 300px;
    height: 50px;
    border: 2px solid #1B2A49;
    border-radius: 3px;
    position: relative;
    left: 120px;
    bottom: 650px; 
}

.Område{

    width: 600px;
    height: 50px;
    border: 2px solid #1B2A49;
    border-radius: 3px;
    position: relative;
    right: 40px;
    bottom: 600px; 
}

.kontaktH1{
    font-family: 'Nunino Sans', sans-serif;
    color: #1B2A49;
    text-transform: uppercase;
    position: relative;
    bottom: 600px;
    right: 250px;
}

.KontaktSend{
    background-color: #FBB731;
    border-color: #FBB731;
    font-family: 'Nunino Sans', sans-serif;
    text-transform: uppercase;
    color: #1B2A49;
    padding: 20px;
    position: relative;
    bottom: 550px;
    left: 150px;
}