.TilbudContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SommerReklame{
    width: 1000px;
    height: 300px;
    transform: rotate(180deg);
    object-fit: cover;
}

.TilbudH1, .TilbudH2, .TilbudP{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    margin: 0;
}

.TilbudH1{
    font-size: 60px;
    position: relative;
    right: 340px;
    bottom: 270px;
}

.TilbudH2{
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
    right: 320px;
    bottom: 250px;
}

.TilbudP{
    font-size:15px;
    position: relative;
    right: 210px;
    bottom: 230px;
}